header{
    background-image: linear-gradient(to right, #a8dadc , #457b9d, #1d3557);
    color: white;
    border-style: ridge;
    border-color: #1d3557;
}

body{
    background-color: #a8dadc;

}



button{
    background-color:#457b9d ;
    color: #1d3557;
    width: flex;
    display: block;
}

#today{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.col-sm-12{
    margin: 0 auto;
    height: flex;
    padding-bottom: 20px;
}

.card-deck{
    margin: 0 auto;
    padding-top: 10px;
}

.cityHistoryEl{
    color: #a8dadc;
    background-color: #457b9d;
    border-radius: 5px;
    height: auto;
    width: 75%;
}